body {
	font-family: 'Montserrat', sans-serif;
	background-color: #444444;
	color: white;
}

.content-padding {
	padding-left: 10%;
	padding-right: 10%;
}

.title {
	text-align: center;
}

.settings {
	margin-left: 10%;
	width: 100%;
}

footer {
	padding-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
	text-align: justify;
}
