body {
	font-family: 'Montserrat', sans-serif;
}

.content-padding {
	padding-left: 10%;
	padding-right: 10%;
}

.title {
	text-align: center;
}

.canvas {
	border-style: solid;
}

.settings {
	margin-left: 10%;
}

footer {
	padding-top: 1%;
	text-align: center;
}